<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title></title>
</head>
<body>
 <p>A quick game of rock-paper-scissors-lizard-spock. Source here: <a href="https://github.com/MisterrW/rock-paper-scissors-lizard-spock">https://github.com/MisterrW/rock-paper-scissors-lizard-spock</a></p>
 <nav>
 <ul>
 <li><a href="/rock">rock</a></li>
 <li><a href="/paper">paper</a></li>
 <li><a href="/scissors">scissors</a></li>
 <li><a href="/lizard">lizard</a></li>
 <li><a href="/spock">spock</a></li>
 </ul>
 </nav>
 <%= yield %>
</body>
</html>